# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# Logs
*.log

# macOS
.DS_Store

# Node
node_modules/

# Environment variables
.env

# Database files
*.mdf
*.ldf
*.db

# Uploads
backend/Uploads/